*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}
body {
    /* Created with https://www.css-gradient.com*/
    background: #2A1C7B;
    background: -webkit-radial-gradient(bottom, #2A1C7B, #010D6F);
    background: -moz-radial-gradient(bottom, #2A1C7B, #010D6F);
    background: radial-gradient(to top, #2A1C7B, #010D6F);
    background-repeat: no-repeat; 
    height: 100vh;
    background-attachment: fixed;
}
.navitems li img {
    width: 94px;
}
.navbar{
    display: flex;
    align-items: center;
    justify-content: center;
}
.navitems li {
    padding: 5px;
    margin: 10px 10px 10px 10px;
}

.navitems {
    width: 90%;
    background-color: rgba(96, 145, 252, 0.144);
    border-bottom-left-radius: 80px;
    border-bottom-right-radius: 80px;
    overflow: hidden;
    font-size: 1.2rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.disable_icon {
    display: none;
}
footer img{
    width: 40px;
    -webkit-filter: drop-shadow(5px 5px 5px #6e98f3ab);
    filter: drop-shadow(5px 5px 5px #476fdd93);
}
footer .profile{
    width: 60px;
    -webkit-filter: drop-shadow(5px 5px 5px #6e98f3ab);
    filter: drop-shadow(5px 5px 5px #476fdd93);
}
.footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
footer{
    width: 90%;
    background-color: rgba(96, 145, 252, 0.144);
    border-bottom-left-radius: 80px;
    border-bottom-right-radius: 80px;
    padding: 10px;
    margin: 30px 5px 0px 5px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
}
h3{
    padding: 40px;
    text-align: center;
    background-color: rgba(96, 145, 252, 0.144);
    border-bottom-left-radius: 80px;
    border-bottom-right-radius: 80px;
}
.up-arrow {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
}
.up-arrow img {
    width: 40px;
    -webkit-filter: drop-shadow(5px 5px 5px #6e98f3ec);
    filter: drop-shadow(5px 5px 5px #476fddce);
}
.navbar ul li a{
    text-decoration: none;
}
@media screen and (max-width:600px) {
    .navitems {
        width: 100%;
        font-size: 1.1rem;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        list-style: none;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        padding-bottom: 20px;
    }

    .bar_icon {
        display: block;
        position: absolute;
        right: 10px;
        top: 10px;
        width: 40px;
        -webkit-filter: hue-rotate(40deg) saturate(0.5) brightness(390%) saturate(4);
        filter: hue-rotate(40deg) saturate(0.5) brightness(390%) saturate(4);
    }

    .nav_disable {
        display: none;
    }
    footer{
        width: 100%;
        border-radius: 0%;
    }
    footer .profile{
        width: 40vw;
    }
}